{% extends 'fragments/base.html' %}
{% load static %}

{% block main %}
    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h3 class="pb-2">Додати новий чекер залізничних квитків</h3>
                <div class="bg-body rounded shadow-sm py-3">
                    <form class="row g-4 p-3" id="createCheckerForm">
                        <div class="row">
                            <div class="col-md-auto col-sm-12">
                                <div class="col-auto">
                                    {#                                    <label for="search-from" class="form-label ms-2">from</label>#}
                                    <input type="text" class="form-control" name="from_station" id="search-from"
                                           placeholder="Звідки виїзд?">
                                    <ul id="search-from-results" class="position-absolute text-bg-secondary pe-2"></ul>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-12">
                                <div class="col-auto">
                                    {#                                    <label for="search-to" class="form-label ms-2">to</label>#}
                                    <input type="text" class="form-control" name="to_station" id="search-to"
                                           placeholder="Куди прямуєте?">
                                    <ul id="search-to-results" class="position-absolute text-bg-secondary pe-2"></ul>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-12">
                                <div class="col-auto">
                                    {#                                    <label class="form-label ms-2">dates</label>#}
                                    <input type="text" class="form-control" name="date_at" aria-label="datepicker"
                                           placeholder="Дата"/>
                                </div>
                            </div>

                            <div class="col-md-auto col-sm-12">
                                <div class="col-auto">
                                    {#                                    <label class="form-label ms-2"></label>#}
                                    <button class="btn btn-primary form-control CreateCheckerBtn">Пошук</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            {% if parameters %}
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <h3 class="pb-2">Список чекерів перевірки наявності залізничних квитків</h3>
                    <div class="bg-body rounded shadow-sm">
                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th class="col-auto text-primary-emphasis border" colspan="2">Станція</th>
                                <th class="col-auto text-primary-emphasis border" colspan="2">Дата</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Номери потягів</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Типи вагонів</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Типи місць</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Час оновлення, хв</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Дата останнього
                                    оновлення
                                </th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Активний</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Видалити</th>
                            </tr>
                            <tr class="text-center">
                                <th class="col-auto text-primary-emphasis border">Відправлення</th>
                                <th class="col-auto text-primary-emphasis border">Прибуття</th>
                                <th class="col-auto text-primary-emphasis border">Початкова</th>
                                <th class="col-auto text-primary-emphasis border">Кінцева</th>
                            </tr>
                            </thead>

                            <tbody class="text-center" id="checkersBodyTable">
                            {% for parameter in parameters %}
                                <tr class="border">
                                <td class="border" nowrap>{{ parameter.departure_station }}</td>
                                <td class="border" nowrap>{{ parameter.arrival_station }}</td>
                                <td class="border" nowrap>{{ parameter.start_date|date:"d.m.Y" }}</td>
                                <td class="border" nowrap>{{ parameter.end_date|date:"d.m.Y" }}</td>
                                <td class="border">{{ parameter.train_numbers }}</td>
                                <td class="border">{{ parameter.wagon_types }}</td>
                                <td class="border">{{ parameter.seat_types }}</td>
                                <td class="border" nowrap>{{ parameter.update_period }}</td>
                                <td class="border">{{ parameter.last_run_at|date:"d.m.Y H:i" }}</td>
                                <td class="border" nowrap>
                                    <input class="form-check-input is_active_checkbox" type="checkbox"
                                            {% if parameter.is_active %} checked {% endif %}
                                           aria-label="is_active" data-id="{{ parameter.checker_id }}">
                                </td>
                                <td class="border" nowrap>
                                    <a href="{% url 'uz_ticket_checker_app:checker_delete' pk=parameter.checker_id %}">
                                        В
                                    </a>
                                </td>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>

        <script>
            var csrf_token = "{{ csrf_token }}";
        </script>
        <script>
            $(document).ready(function () {
                $('.is_active_checkbox').change(function () {
                    var checkbox = $(this);
                    var isChecked = checkbox.prop('checked');
                    var id = checkbox.data('id');

                    $.ajax({
                        url: `change_is_active/${id}/`,
                        method: 'POST',
                        data: {isChecked: isChecked},
                        headers: {
                            'X-CSRFToken': csrf_token
                        },
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                });
            });
        </script>
        {#        <script>#}
        {#            window.StationUrl = "{% url 'tickets_ua:api-station' %}"#}
        {#            window.ChekerUrl = "{% url 'tickets_ua:api-checker' %}"#}
        {#        </script>#}

        {#        <script>#}
        {#            $('#range-time').on('input', function () {#}
        {#                const time = $('#range-time').val()#}
        {#                $('#range-time-value').val((time < 10 ? "0" + time : time) + ":00")#}
        {#            });#}
        {#        </script>#}

        {#        <script src="{% static '/js/moment.min.js' %}"></script>#}
        {#        <script src="{% static '/js/daterangepicker.js' %}"></script>#}
        {#        <script>#}
        {#            $(function () {#}
        {#                $('input[name="date_at"]').daterangepicker({#}
        {#                    opens: 'left',#}
        {#                    startDate: moment(),#}
        {#                    minDate: moment(),#}
        {#                    endDate: moment(),#}
        {#                    maxDate: moment().add(10, 'day'),#}
        {#                    locale: {#}
        {#                        format: 'YYYY-MM-DD'#}
        {#                    }#}
        {#                });#}
        {#            });#}
        {#        </script>#}

        {#        <script src="{% static '/js/calc.js' %}"></script>#}
        {#        <script src="{% static '/js/ajax.js' %}"></script>#}
        {#        <script src="{% static '/js/notify.js' %}"></script>#}

        {#        {% csrf_token %}#}
        {#        <script src="{% static '/js/tickets_ua/station.js' %}"></script>#}
        {#        <script src="{% static '/js/tickets_ua/checker.js' %}"></script>#}

    {% endif %}
{% endblock %}