{% extends 'fragments/base.html' %}
{% load static %}

{% block main %}
    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h3 class="pb-2">Додавання чекерів перевірки наявності залізничних квитків</h3>
                <form method="post" action="{% url 'uz_ticket_checker_app:checker_add' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label for="from_station" class="col-form-label">Звідки виїзд?</label>
                            <select class="form-select dselect" required id="from_station" name="from_station">
                                <option selected disabled hidden value="">Звідки виїзд?</option>
                                {% for express_3, station_name in stations.items %}
                                    {% if express_3 == from_station %}
                                        <option value="{{ express_3 }}" selected>{{ station_name }}</option>
                                    {% else %}
                                        <option value="{{ express_3 }}">{{ station_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="to_station" class="col-form-label">Куди прямуєте?</label>
                            <select class="form-select dselect" required id="to_station" name="to_station">
                                <option selected disabled hidden value="">Куди прямуєте?</option>
                                {% for express_3, station_name in stations.items %}
                                    {% if express_3 == to_station %}
                                        <option value="{{ express_3 }}" selected>{{ station_name }}</option>
                                    {% else %}
                                        <option value="{{ express_3 }}">{{ station_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-auto col-sm-12">
                            <label for="trip_dates" class="col-form-label">Проміжок дат пошуку потягів</label>
                            <div class="ms-1 col-12">
                                <input type="text" id="trip_dates" class="form-control" name="trip_dates"
                                        {% if from_date and to_date %}
                                       data-start="{{ from_date }}" data-end="{{ to_date }}"
                                        {% endif %}
                                >
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label for="train_numbers" class="col-form-label">Номери потягів (опційно)</label>
                            <input type="text" class="form-control form-field" id="train_numbers" name="train_numbers"
                                   placeholder="Введіть через кому номери потягів" value="{{ train_number }}">
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label for="wagon_types" class="col-form-label">Типи вагонів (опційно)</label>
                            <select class="form-select dselect" required id="wagon_types" name="wagon_types" multiple>
                                <option selected disabled hidden value="">Пошук по типу вагонів</option>
                                {% for wagon_type in wagon_types %}
                                    {% if wagon_type in selected_wagon_types %}
                                        <option value="{{ wagon_type }}" selected>{{ wagon_type }}</option>
                                    {% else %}
                                        <option value="{{ wagon_type }}">{{ wagon_type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label for="seat_types" class="col-form-label">Типи місць (опційно)</label>
                            <select class="form-select dselect" required id="seat_types" name="seat_types" multiple>
                                <option selected disabled hidden value="">Пошук по типу місць</option>
                                {% for seat_type_item in seat_types %}
                                    {% if seat_type_item.seat_type in selected_seat_types %}
                                        <option value="{{ seat_type_item.seat_type }}"
                                                selected>{{ seat_type_item.seat_type_name }}</option>
                                    {% else %}
                                        <option value="{{ seat_type_item.seat_type }}">{{ seat_type_item.seat_type_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-auto col-sm-12">
                            <label for="add_checker" class="col-form-label">&nbsp;</label>
                            <div class="ms-1 col-12">
                                <button type="submit" class="btn btn-primary search-btn" name="add_checker">Додати чекер
                                </button>
                            </div>
                        </div>
                        <div class="col-md-auto col-sm-12">
                            <label for="back_to_search" class="col-form-label">&nbsp;</label>
                            <div class="ms-1 col-12">
                                <button type="button" class="btn btn-secondary search-btn" name="back_to_search"
                                        onclick="window.location.href='/uz_ticket/'">Повернутися на сторінку пошуку
                                    квитків
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {% if parameters %}
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <h3 class="pb-2">Список чекерів перевірки наявності залізничних квитків</h3>
                    <div class="bg-body rounded shadow-sm">
                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th class="col-auto text-primary-emphasis border" colspan="2">Станція</th>
                                <th class="col-auto text-primary-emphasis border" colspan="2">Дата</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Номери потягів</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Типи вагонів</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Типи місць</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Час оновлення, хв</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Дата останнього
                                    оновлення
                                </th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Активний</th>
                                <th class="col-auto text-primary-emphasis border" rowspan="2">Видалити</th>
                            </tr>
                            <tr class="text-center">
                                <th class="col-auto text-primary-emphasis border">Відправлення</th>
                                <th class="col-auto text-primary-emphasis border">Прибуття</th>
                                <th class="col-auto text-primary-emphasis border">Початкова</th>
                                <th class="col-auto text-primary-emphasis border">Кінцева</th>
                            </tr>
                            </thead>

                            <tbody class="text-center" id="checkersBodyTable">
                            {% for parameter in parameters %}
                                <tr class="border">
                                <td class="border" nowrap>{{ parameter.departure_station }}</td>
                                <td class="border" nowrap>{{ parameter.arrival_station }}</td>
                                <td class="border" nowrap>{{ parameter.start_date|date:"d.m.Y" }}</td>
                                <td class="border" nowrap>{{ parameter.end_date|date:"d.m.Y" }}</td>
                                <td class="border">{{ parameter.train_numbers }}</td>
                                <td class="border">{{ parameter.wagon_types }}</td>
                                <td class="border">{{ parameter.seat_types }}</td>
                                <td class="border" nowrap>{{ parameter.update_period }}</td>
                                <td class="border">{{ parameter.last_run_at|date:"d.m.Y H:i" }}</td>
                                <td class="border" nowrap>
                                    <input class="form-check-input is_active_checkbox" type="checkbox"
                                            {% if parameter.is_active %} checked {% endif %}
                                           aria-label="is_active" data-id="{{ parameter.checker_id }}">
                                </td>
                                <td class="border" nowrap>
                                    <a href="{% url 'uz_ticket_checker_app:checker_delete' pk=parameter.checker_id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </a>
                                </td>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}




{% block extra_scripts %}
    <script>
        var csrf_token = "{{ csrf_token }}";
    </script>
    <script>
        $(document).ready(function () {
            $('.is_active_checkbox').change(function () {
                var checkbox = $(this);
                var isChecked = checkbox.prop('checked');
                var id = checkbox.data('id');

                $.ajax({
                    url: `change_is_active/${id}/`,
                    method: 'POST',
                    data: {isChecked: isChecked},
                    headers: {
                        'X-CSRFToken': csrf_token
                    },
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>

    <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
    <script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>
    <script>
        for (const el of document.querySelectorAll('.dselect')) {
            dselect(el, {
                search: true
            })
        }
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script>
        // date range picker options
        $('#trip_dates').daterangepicker({
            "autoApply": true,
            ranges: {
                'Сьогодні': [moment(), moment()],
                'Наступні 2 дні': [moment(), moment().add(1, 'days')],
                'Наступні 3 дні': [moment(), moment().add(2, 'days')],
                'Наступні 4 дні': [moment(), moment().add(3, 'days')],
                'Наступні 5 днів': [moment(), moment().add(4, 'days')],
                'Наступні 7 днів': [moment(), moment().add(6, 'days')]
            },
            "locale": {
                "format": "YYYY-MM-DD",
                "separator": " - ",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Інші дати",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Нд",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Січень",
                    "Лютий",
                    "Березень",
                    "Квітень",
                    "Травень",
                    "Червень",
                    "Липень",
                    "Серпень",
                    "Вересень",
                    "Жовтень",
                    "Листопад",
                    "Грудень"
                ],
                "firstDay": 1
            },
            "alwaysShowCalendars": true,
            // default values
            "startDate": moment(),
            "endDate": moment(),
            "minDate": moment(),
            "maxDate": moment().add(1, 'month').endOf('month'),
            "opens": "left"
        }, function (start, end) {
            console.log(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
        });
    </script>
    <script>
        $(function () {
            let $trip_dates = $('#trip_dates');
            let trip_date_start = $trip_dates.attr('data-start');
            let trip_date_end = $trip_dates.attr('data-end');

            $trip_dates.data('daterangepicker').setStartDate(trip_date_start);
            $trip_dates.data('daterangepicker').setEndDate(trip_date_end);
        })
    </script>
{% endblock %}