<div class="row my-5 fixed-top justify-content-center" id="errorMessages">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == 30 or message.level == 40 %}
                <div class="alert alert-warning alert-dismissible fade show w-75" role="alert">
                    <strong>Exception:</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<div class="row my-5 fixed-top justify-content-center" id="infoMessages">
    {% if messages %}
        {% for message in messages %}
            {% if message.level < 30 %}
                <div class="alert alert-info alert-dismissible fade show w-75" role="alert">
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<div class="toast-container position-fixed bottom-0 end-0 m-1 p-2">
    <div id="infoToast" class="toast text-white bg-success border-0" style="z-index: 11" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="textToast"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>


<div class="container my-5 fixed-top show-message">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'info' %}
                <div class="alert alert-info alert-dismissible fade show" role="alert" id="disappearing-message">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                         class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<script>
    // Функція для ховання повідомлення через певний час
    function hideMessage() {
        var message = document.getElementById('disappearing-message');
        message.style.display = 'none';
    }

    // Викликаємо функцію при завантаженні сторінки
    window.onload = function () {
        var message = document.getElementById('disappearing-message');
        if (message) {
            setTimeout(hideMessage, 2000);  // Ховаємо повідомлення через 1,5 секунди (1500 мілісекунд)
        }
    };
</script>