<div class="row my-5 fixed-top justify-content-center" id="errorMessages">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == 30 or message.level == 40 %}
                <div class="alert alert-warning alert-dismissible fade show w-75" role="alert">
                    <strong>Exception:</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<div class="row my-5 fixed-top justify-content-center" id="infoMessages">
    {% if messages %}
        {% for message in messages %}
            {% if message.level < 30 %}
                <div class="alert alert-info alert-dismissible fade show w-75" role="alert">
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<div class="toast-container position-fixed bottom-0 end-0 m-1 p-2">
        <div id="infoToast" class="toast text-white bg-success border-0" style="z-index: 11" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="textToast"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>