DEBUG=on
SECRET_KEY=your-secret-key
ENVIRONMENT=development_or_production

REDIS_URL=your-celery-url(or default)

CLIENT_ID=google_client_id
CLIENT_SECRET=google_client_secret

FROM_EMAIL=from_email
MAILGUN_API_KEY=mailgun_api_key
MAILGUN_SENDER_DOMAIN=mailgun_sender_domain

FRONTEND_HOST=your_host

BOT_TITLE=your-bot-title
BOT_LINK=your-bot-link
BOT_USERNAME=your-bot-username
BOT_TELEGRAM_ID=your-bot-telegram-id
BOT_TOKEN=your-bot-token
BOT_WEBHOOK_URL=your-webhook-url
